.register {
    .container {
      margin-bottom: -4000px;
      .register-info {
          position: relative;
        .reg-content {
        padding-bottom: 70px;

        }
        .btn-submit {
          position: absolute;
          bottom: 0;
          right: 37%;
  
        }
      }
    }
  }
